.nav-link{
    position: relative;
    display: inline-block;
    font-size: 1.05rem;
    transition: 0.3s;    
}
.nav-link:after{
    margin-left: 4px;
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    height: 2.5px;
    width: 0;
    left: 0px;
    bottom: 6px;
    transition: 0.3s;

}
.nav-link:hover{
    color: var(--primary-color);
}
.nav-link:hover:after{
    width: 95%;
}