.product-img{
    background-color: #08817934;
    border-radius: 1rem;

}
.product-card img{
    width: 230px;
    // background-color: #08817934;
}
.product-card{
    width: 250px;
    // border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    border-radius: 1.5rem;

}